\:root
    --header-diameter: 44px
    --header-margin: 8px


.chat-header-img
    width: 44px
    height: 44px
    margin: 8px


.chat-header-letter
    line-height: 46px


.chat-image, .letter-circle
    height: 54px
    width: 54px
    border-radius: 50%
    color: white


.letter-circle
    text-align: center
    line-height: 58px
    font-size: 20px


.letter-circle_chat-header
    width: var(--header-diameter)
    height: var(--header-diameter)
    line-height: 48px
    margin: var(--header-margin)
