.menu-button {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    margin: 8px 6px 8px 14px;
    padding: 12px;
    cursor: pointer;
}

.menu-img {
    width: 20px;
}

.menu-button:hover {
    background-color: rgb(244, 244, 245);
}
