.input-component {
    height: 84px;
    max-width: 702px;
    z-index: 1;
    margin: auto;
    padding: 0 11px;
    width: calc(100% - 22px);
    display: flex;
    align-items: center;
}

.input-attach {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.input-smile {
    position: absolute;
    left: 16px;
    top: 16px;
    cursor: pointer;
}

.input-microphone {
    height: 54px;
    width: 54px;
    margin: 0 8px;
    padding: 14px;
    border-radius: 50%;
    border: none;
    background-color: rgb(83, 166, 243);
    z-index: 3;
    cursor: pointer;
}

.input-microphone-img {
    background-color: white;
    width: 26px;
    height: 26px;
    -webkit-mask: url(../assets/microphone_svg.svg) no-repeat center;
    mask: url(../assets/microphone_svg.svg) no-repeat center;
}

.main-form {
    position: relative;
    height: 54px;
    width: 100%;
    background-color: transparent;
    align-self: normal !important;
    margin: 10px 0 20px;
}

.main-input {
    padding: 15px 56px 15px 48px;
    border: none;
    border-radius: 12px 12px 0 12px;
    font-size: 14px;
    outline: none;
    width: calc(100% - 104px);
    height: calc(100% - 30px);
    background-color: white;
    box-shadow: 0 1px 2px rgb(204, 211, 216);
}

.input-tail {
    z-index: 2;
    background-color: white !important;
}

.input-tail:before {
    background-color: white !important;
}
