.context-menu
    position: absolute
    display: flex
    flex-direction: column
    top: calc(var(--form-height) + 6px)
    width: var(--form-width)
    max-height: 300px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    border-radius: var(--border-radius)
    z-index: 10
    background-color: white
    overflow-y: auto


.context-menu__item:hover
    background-color: rgb(244, 244, 245)


.context-menu__item
    display: flex


.country
    padding: 0 16px
    cursor: pointer
    z-index: 10
