.base-button
    border-radius: 50%
    width: 44px
    height: 44px
    background-color: transparent
    border: none
    padding: 12px
    cursor: pointer
    margin: 2px


.base-button:hover
    background-color: rgb(244, 244, 245)

.base-button-img
    background-color: rgb(112, 117, 121)
    width: 20px
    height: 20px
